$black: #17181c;
$gray: #a0a0a0;
html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
ul {
  list-style-type: none;
}
.menu {
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  width: 100%;
  height: 59px;
  z-index: 2;
  &-logo {
    padding: 12px 0px 15px 30px;
    width: 100%;
    img {
      float: left;
      width: 30px;
      margin-right: 10px;
    }
  }
  &-link {
    ul {
      margin: 0;
      padding:0;
      display: flex;
    }
    li {
      margin-right: 20px;
      width: 96px;
    }
    a {
      transition: 0.5s;
      height: 25px;
      font-family: fantasy;
      display: flex;
      color: rgb(161, 161, 161);
      padding: 17px;
      justify-content: center;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
.main {
  min-height: 100vh;
  &-content {
    text-align: center;
    padding-top: 36vh;
    h1 {
      font-size: 80px;
    }
    hr {
      width: 36px;
      border: 2px solid $gray;
      background: $gray;
    }
  }
}

.about {
  background: linear-gradient(45deg, #4156cc, #00965c);
  min-height: 100vh;
  &-content {
    padding: 120px 0;
    text-align: center;
    hr {
      width: 36px;
      border: 2px solid $gray;
      background: $gray;
    }
    p {
      line-height: 60px;
    }
  }
}
.skill {
  min-height: 100vh;
  height: 100%;
  text-align: center;
  background: $black;
  &-content {
    padding: 81px 0;
    hr {
      width: 36px;
      border: 2px solid $gray;
      background: $gray;
    }
    &-detail {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      margin: 0 auto;
      li {
        padding: 9px 21px;
        margin: 1%;
      }
      p {
        color: $gray;
      }
      &-image {
        margin-bottom: 12px;
        border-radius: 5px;
        transition: transform 1s;
        max-width: 300px;
        width: 100%;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
.works {
  min-height: 100vh;
  background: linear-gradient(45deg, #a33459, #1b9cad);
  text-align: center;
  &-content {
    padding: 81px 0;
    hr {
      width: 36px;
      background: $gray;
      border: 2px solid $gray;
    }
    &-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &-item {
        position: relative;
        width: 320px;
        height: 200px;
        margin: 1%;
        cursor: pointer;
        &:hover &-title {
          display: block;
          z-index: 1;
          background: rgba(34, 34, 34, 0.6);
        }
        &-title {
          width: 320px;
          height: 68px;
          position: relative;
          display: none;
          padding: 66px 0;
        }
        &-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 320px;
          height: 200px;
          transition: 0.3s;
        }
      }
    }
  }
}
.contact {
  min-height: 100vh;
  text-align: center;
  &-content {
    padding-top: 81px;
    p {
      margin: 3px 0 9px;
    }
    &-photo {
      width: 234px;
      object-fit: cover;
      border-radius: 50%;
      object-position: center top;
      border: $black solid 9px;
      margin: 9px 0;
    }
    &-github-image {
      width: 40px;
      border-radius: 50%;
    }
  }
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  text-align: center;
  &-content {
    position: relative;
    background-color: $black;
    margin: auto;
    padding: 30px 30px 60px;
    border: 1px solid #888;
    width: 80%;
    z-index: 2;
    &-image {
      max-width: 900px;
      width: 100%;
      margin: 18px 0;
      border: 1px rgb(156, 156, 156) solid;
    }
    p {
      margin-top: 9px;
    }
    &__check {
      padding: 9px 12px;
      border-radius: 300px;
      background-color: rgb(83, 83, 83);
      font-size: 18px;
    }
  }
  &__close {
    position: absolute;
    color: #aaaaaa;
    top: 9px;
    right: 15px;
    font-size: 60px;
    font-weight: bold;
    &:hover {
      color: rgb(189, 0, 0);
      cursor: pointer;
    }
  }
}

@media (max-width: 618px) {
  .menu-link {
    display: none;
  }
}

.slider span {
  opacity: 0;
  animation: round 9s linear infinite
}

@keyframes round {
  9% {
    opacity:1;
  }
  30%{opacity:1;}
  45% {
    opacity:0;
  }
}
.slider span:nth-child(3) {
  animation-delay:6s;
}
.slider span:nth-child(2) {
  animation-delay: 3s;
}
.slider span:nth-child(1) {
  animation-delay: 0s;
}

