$black: #17181c;
$gray: #a0a0a0;
$white: #fff;

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: $white;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $white;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
  font-size: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;

  &-logo {
    padding: 12px 0 15px 30px;

    a {
      display: flex;
      align-items: center;
      width: 120px;
    }

    img {
      margin-right: 10px;
      width: 30px;
    }
  }

  &-link {
    ul {
      display: flex;
    }

    li {
      margin-right: 20px;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 17px;
      font-size: 20px;
      color: $gray;
      transition: 0.5s;

      &:hover {
        color: $white;
        background-color: #000;
      }
    }
  }
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 0 6px;

  div {
    margin: 6px 0;
    width: 35px;
    height: 5px;
    background-color: $gray;
    transition: 0.4s;
  }
}

.change {
  .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .bar2 {
    opacity: 0;
  }

  .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

hr {
  width: 36px;
  background: $gray;
  border: 2px solid $gray;
}

.main {
  min-height: 100vh;

  &-content {
    padding-top: 36vh;
    text-align: center;

    h1 {
      font-size: 80px;
    }
  }
}

.about {
  min-height: 100vh;
  background: linear-gradient(45deg, #4156cc, #00965c);

  &-content {
    padding: 120px 0;
    text-align: center;

    p {
      line-height: 51px;
    }
  }
}

.skills {
  min-height: 100vh;
  text-align: center;
  background: $black;

  &-content {
    padding: 81px 0;
  }

  &-detail {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 1%;
      padding: 9px 21px;
    }

    p {
      color: $gray;
      line-height: 24px;
    }

    &-image {
      width: 270px;
      border-radius: 5px;
      transition: transform 1s;
      margin-bottom: 12px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.works {
  min-height: 100vh;
  text-align: center;
  background: linear-gradient(45deg, #a33459, #1b9cad);

  &-content {
    padding: 81px 0;
  }

  &-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-item {
    position: relative;
    margin: 1%;
    width: 320px;
    height: 200px;
    cursor: pointer;

    &:hover &-title {
      display: block;
      background: rgba(34, 34, 34, 0.6);
      z-index: 1;
    }

    &-title {
      position: relative;
      display: none;
      padding: 78px 0;
      width: 320px;
    }

    &-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 320px;
      height: 200px;
      transition: 0.3s;
    }
  }
}

.contact {
  min-height: 100vh;
  text-align: center;

  &-content {
    padding-top: 81px;

    p {
      margin: 3px 0 9px;
    }
  }

  &-photo {
    width: 219px;
    border: $black solid 9px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
  }

  &-github {
    width: 40px;
    border-radius: 50%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  overflow: auto;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;

  &-content {
    position: relative;
    margin: auto;
    padding: 30px 30px 60px;
    width: 80%;
    background-color: $black;
    border: 1px solid $gray;
    z-index: 2;

    h4 {
      font-size: 21px;
      text-align: center;
    }

    p {
      margin: 9px 0;
      text-align: center;
    }

    span {
      display: block;
      font-size: 21px;
      font-family: 'Times New Roman', Times, serif;
      text-align: left;
    }

    &__check {
      padding: 6px 15px;
      font-size: 18px;
      background-color: $gray;
      border-radius: 150px;
    }

    &-image {
      margin: 6px 0;
      width: 100%;
      max-width: 900px;
      border: 1px $gray solid;
    }
  }

  &__close {
    position: absolute;
    top: 9px;
    right: 15px;
    font-size: 60px;
    font-weight: bold;
    color: $gray;
    background-color: $black;
    border: 0;
    outline: none;

    &:hover {
      color: rgb(255, 0, 0);
      cursor: pointer;
    }
  }
}

@media (max-width: 618px) {
  .menu {
    flex-wrap: wrap;
  }

  .menu-link {
    display: none;
    order: 9;
    width: 100%;

    ul {
      flex-wrap: wrap;
    }

    li {
      width: 100%;
    }

    a {
      width: 100%;
    }

    &.change {
      display: block;
    }
  }

  .hamburger {
    display: block;
  }
}
@media (max-width: 900px) {
  .blank-item {
    display: none;
  }
}

.slider span {
  opacity: 0;
  animation: round 9s linear infinite;
}

@keyframes round {
  9% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }
}

.slider span:nth-child(3) {
  animation-delay: 6s;
}

.slider span:nth-child(2) {
  animation-delay: 3s;
}

.slider span:nth-child(1) {
  animation-delay: 0s;
}

.parallax {
  min-height: 100vh;
  background-image: url('../images/typewriter.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resume {
  margin-top: 15px;

  a {
    padding: 9px 15px;
    font-size: 18px;
    background-color: $black;
    border-radius: 300px;
    letter-spacing: 2px;
  }
}
