@import "../normalize.css";

body {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #17181c;
}

.background {
  position: fixed;
  background: url("../../images/nightmarket.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  filter: brightness(27%);
  z-index: -1;
}

a {
  text-decoration: none;
}

select {
  width: 210px;
  color: rgb(182, 182, 182);
  background-color: #17181c;
  outline: none;
  cursor: not-allowed;
}

.map {
  width: 360px;
  height: 360px;
}

.info {
  display: none;
  width: 100%;
  max-width: 660px;
  font: 1.3em sans-serif;
}

.info-title {
  height: 33px;
}

.name {
  width: 100%;
  max-width: 300px;
}

.food {
  width: 100%;
  max-width: 390px;
}

footer {
  height: 30px;
}

.btn {
  display: none;
  bottom: 90px;
  right: 24px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  background-color: rgb(59, 59, 59);
  color: rgb(209, 209, 209);
  cursor: pointer;
  font-size: 45px;
  width: 57px;
  height: 57px;
}

.loading {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 6px solid gray;
  border-top: 6px solid white;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin-top: -50px;
  margin-left: -50px;
  z-index: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
