body {
  background-color: #17181c;
  color: white;
  background-image: url("../../images/lol.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.channels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.channel {
  width: 320px;
  margin: 21px;
  background: rgba(24, 24, 24, 0.9);
}

.channel-logo {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 9px 3px;
}
.channel-status {
  float: left;
  width: 252px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.channel-name {
  float: left;
  width: 252px;
}
